# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [86]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')   # para quitar esos prints

#### Import data set.

Import data set `Pokemon` from [kaggle](https://www.kaggle.com/abcsds/pokemon/) . Read the data into a dataframe called `pokemon`.

In [87]:

pokemon = pd.read_csv(r"C:\Users\GAMM\Documents\BootCamp\Lab_Done\2.3-lab_df_calculation_and_transformation\your-code\Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [88]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [89]:
pokemon.shape

(800, 13)

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [90]:
#limpiar los nombres para que queden sin mayúsculas o espacios
pokemon.columns = [e.lower().replace(' ', '_') for e in pokemon.columns]

In [91]:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [92]:
  # valores unicos de la columna

type_unique_1 = [pokemon.type_1.unique()]
type_unique_2 = [pokemon.type_2.unique()]

In [122]:
# unir los valores únicos en un solo array
# Concatenar ambos arrays en uno solo
pokemon["type_unique"] = type_unique_1 + type_unique_2

ValueError: Length of values (2) does not match length of index (800)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [94]:
pokemon['name'] = pokemon['name'].str.replace('.*Mega', 'Mega')

In [123]:
# your code here
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,A/D_ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [99]:

pokemon["A/D_ratio"] = pokemon["attack"] / pokemon ["defense"]

In [124]:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,A/D_ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [110]:
pokemon.describe().T

,count,mean,std,min,25%,50%,75%,max
#,800.0,362.813750,208.343798,1.000000,184.750000,364.500000,539.250000,721.0
total,800.0,435.102500,119.963040,180.000000,330.000000,450.000000,515.000000,780.0
hp,800.0,69.258750,25.534669,1.000000,50.000000,65.000000,80.000000,255.0
attack,800.0,79.001250,32.457366,5.000000,55.000000,75.000000,100.000000,190.0
defense,800.0,73.842500,31.183501,5.000000,50.000000,70.000000,90.000000,230.0
sp._atk,800.0,72.820000,32.722294,10.000000,49.750000,65.000000,95.000000,194.0
sp._def,800.0,71.902500,27.828916,20.000000,50.000000,70.000000,90.000000,230.0
speed,800.0,68.277500,29.060474,5.000000,45.000000,65.000000,90.000000,180.0
generation,800.0,3.323750,1.661290,1.000000,2.000000,3.000000,5.000000,6.0
A/D_ratio,800.0,1.164547,0.552604,0.043478,0.828771,1.074176,1.416667,9.0

In [116]:
# your code here
maximo = pokemon.loc[pokemon["A/D_ratio"].idxmax()]
maximo

#                            386
name          DeoxysAttack Forme
type_1                   Psychic
type_2                       NaN
total                        600
hp                            50
attack                       180
defense                       20
sp._atk                      180
sp._def                       20
speed                        150
generation                     3
legendary                   True
A/D_ratio                    9.0
Name: 429, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [120]:
# your code here
minimo = pokemon.loc[pokemon["A/D_ratio"].idxmin()]
minimo

#                  213
name           Shuckle
type_1             Bug
type_2            Rock
total              505
hp                  20
attack              10
defense            230
sp._atk             10
sp._def            230
speed                5
generation           2
legendary        False
A/D_ratio     0.043478
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [131]:
# your code here, creamos una nueva columna

pokemon["combo_type"] = np.where(pokemon["type_2"].isnull(), pokemon["type_1"], pokemon["type_1"] + " " + pokemon["type_2"])

In [134]:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,A/D_ratio,combo_type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [135]:
# your code here
top_5 = pokemon.nlargest(5, "A/D_ratio")
top_5

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,A/D_ratio,combo_type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [143]:
# your code here
combo_type_unique = top_5["combo_type"]

In [145]:
unique_combo_types = combo_type_unique.unique().tolist()
unique_combo_types

['Psychic', 'Water Dark', 'Bug Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [148]:


# Calcular la media de todas las columnas numéricas
means = top_5.groupby('combo_type').mean()

# Imprimir el resultado
means

,#,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,A/D_ratio
combo_type,,,,,,,,,,,
Bug Poison,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,0.0,3.750
Psychic,386.0,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,1.0,9.000
Rock,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,0.0,3.125
Water Dark,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,0.0,3.750