# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#### Import data set.

Import data set `Pokemon` from [kaggle](https://www.kaggle.com/abcsds/pokemon/) . Read the data into a dataframe called `pokemon`.

In [2]:
pokemon = pd.read_csv('./Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
tipos = ['Type 1', 'Type 2']  #creo una lista con las dos columnas que quiero, y después printeo la lista a través de pokemon.

display(pokemon[tipos])

#creo un array que contenga todos los valores de las dos columnas

valores_array = pokemon[['Type 1', 'Type 2']].values

valores_array

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

array([['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ...,
       ['Psychic', 'Ghost'],
       ['Psychic', 'Dark'],
       ['Fire', 'Water']], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
display(pokemon.head())

display(pokemon['Name']) #esto me printea unicamente la columna Name

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [10]:
#funcion oriana


def cambio_mega(x):
    if "Mega " in x:
        x = 'Mega ' + x.split('Mega ')[1]
    return x


#Lo que he hecho a sido definir una función según x, que será el nombre de un pokemon, el la que:

#si aparece mega, x se convertira en un "nuevo mega" + una combinación de la palabra spliteada sin el mega antiguo

In [11]:
#aquí lo que hago es aplicar la función a la columna Name de mi df pokemon
# ahora la columna pokemon.Name es igual a la columna actualizada
pokemon.Name = pokemon.Name.apply(cambio_mega)

In [12]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [14]:
#esta es más facil, si quiero crear una columna, simplemente la declaro, y en este caso es el ataque entre la defensa

pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

pokemon['A/D Ratio']

0      1.000000
1      0.984127
2      0.987952
3      0.813008
4      1.209302
         ...
795    0.666667
796    1.454545
797    1.833333
798    2.666667
799    0.916667
Name: A/D Ratio, Length: 800, dtype: float64

#### Identify the pokemon with the highest `A/D Ratio`.

In [17]:
print(pokemon['A/D Ratio'].max())

#haciendo esto tengo el ratio máximo, pero no sé de qué pokemon.

#Voy a averiguar primero el índice, o la fila en la que está:

idx_max = pokemon['A/D Ratio'].idxmax()

# hago esto para obtener el nombre asociado al índice del valor máximo en la columna 'Nombres'
nombre_max = pokemon.loc[idx_max, 'Name']

# Imprimo el nombre asociado al valor máximo en la columna Name
print(nombre_max)

9.0
DeoxysAttack Forme

#### Identify the pokemon with the lowest A/D Ratio.

In [19]:
idx_min = pokemon['A/D Ratio'].idxmin()

nombre_min = pokemon.loc[idx_min, 'Name']

print(nombre_min)

Shuckle

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [22]:
def combine_types(row):
    if pd.notnull(row['Type 1']) and pd.notnull(row['Type 2']):
        return row['Type 1'] + '-' + row['Type 2']
    else:
        return row['Type 1']
    
#primero comprueba que se aplique a valores no nulos, y que escupa el t1-tipo 2
#si alguno es nulo, sólo pone tipo1

# ahora aplico la función a cada fila del dataframe para crear la nueva columna Combo Type
pokemon['Combo Type'] = pokemon.apply(combine_types, axis=1)

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [39]:
print(pokemon['A/D Ratio'].nlargest(5)) #esto me da los valores más grandes de ad ratio

# Ahora tengo que encontrar las filas donde la columna "Score" tiene uno de los valores de top_5_scores

#dentro de pokemon, y dentro de ad ratio, selecciono a traves de isin los 5 más grandes

top_5_names = pokemon[pokemon['A/D Ratio'].isin(pokemon['A/D Ratio'].nlargest(5))]



# Seleccionar la columna "Name" de esas filas para obtener los nombres
top_5_names = top_5_names['Name']

# Imprimir los nombres
print(top_5_names)

429    9.000
347    4.500
19     3.750
453    3.125
348    3.000
Name: A/D Ratio, dtype: float64
19            Mega Beedrill
347                Carvanha
348                Sharpedo
428      DeoxysNormal Forme
429      DeoxysAttack Forme
453                Cranidos
750    AegislashBlade Forme
Name: Name, dtype: object

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [32]:
top_5_scores = pokemon['A/D Ratio'].nlargest(5)
top_5_names = pokemon[pokemon['A/D Ratio'].isin(top_5_scores)]['Name']


top_5_natures = pokemon[pokemon['Name'].isin(top_5_names)].groupby('Combo Type').count()


# Obtener las filas del dataframe que corresponden a las 5 top scores
top_5_scores = pokemon['A/D Ratio'].nlargest(5)
top_5_names = pokemon[pokemon['A/D Ratio'].isin(top_5_scores)]['Name']

# Contar el número de veces que aparece cada naturaleza en las filas correspondientes a las 5 top scores
top_5_natures = pokemon[pokemon['Name'].isin(top_5_names)].groupby('Combo Type').count()

# Crear una lista que combine las naturalezas con su número correspondiente de apariciones
natures_list = []
for nature, count in top_5_natures['A/D Ratio'].to_dict().items():
    natures_list.append(f'{nature} ({count})')

# Imprimir la lista resultante
print(natures_list)

['Bug-Poison (1)', 'Psychic (2)', 'Rock (1)', 'Steel-Ghost (1)', 'Water-Dark (2)']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [38]:
# Calcular la media de todos los campos numéricos en el dataframe completo
mean_scores = pokemon.mean()

# Imprimir la media de cada campo numérico

print(f"{mean_scores[field]}")



#la intento pero no me sale ni con el chat, voy a pasar al siguiente challenge, que todavía me quedan dos más.

IndexError: index 429 is out of bounds for axis 0 with size 11